<div class="main-layout">
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <nav>
        <ul>
            {{#each menuItems}}
                <li><a href="{{this.url}}">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </nav>
    <main>
        {{#if content}}
            {{{content}}}
        {{else}}
            <p>No content provided</p>
        {{/if}}
    </main>
    <footer>
        <p>{{footerText}}</p>
    </footer>
</div>